<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projet site e-commerce B3EC</title>
    <link rel="stylesheet" href="../../static/css/Pcategory.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
  </head>
  <body>
    <!-- Barre de navigation -->
    <nav>
      <div class="nav-item" id ="ontop">
          <img src="../../static/img/Icons/logo.png" alt="Image 1" width="100" height="100">
          <div class="right1">
              <form>
                  <input type="search" placeholder="Rechercher" >
              </form>
              
              <p><i class="far fa-heart"></i></p>
              <p><i class="fas fa-shopping-cart"></i></p>
          </div>
      </div>
      
      <div class="nav-item" id="onglets">
        <p class="link"><a href="index.html">Accueil</a></p>
            
        <p class="link"><a href="cadeaux_personalisés.html">Cadeaux_personalisés</a></p>
       
        <p class="link"><a href="Mode-acce.html">Mode et accessoires</a></p>
        
        <p class="link"><a href="chocolatetgourmandises.html">Chocolat et gourmandises</a></p>
      </div>
      
    </nav>
    
    <div class="titre">
      <h1> Mode et accessoires</h1>
    </div>

    <div class="container">
      <h2>T-shirts</h2>
      <div class="product-container">
        <div class="product-image">
          <a href="../../templates/modeProducts_acce/mode1.html">
            <img src="mode-accesoirIMG/1.jpg" alt="Product Name">  </a>
        </div>
        <div class="product-details">
            <h1>T-shirt blanc Homme </h1><hr>
            <strong>$19.02 </strong>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" min="1" value="1">
            <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
        </div>
      </div>
      <div class="product-container">
        <div class="product-image">
          <a href="../../templates/modeProducts_acce/mode2.html">
            <img src="mode-accesoirIMG/2.jpg" alt="Product Name"> </a>
        </div>
        <div class="product-details">
            <h1>T-shirt Blanc Vintage</h1><hr>
            <strong>$20 </strong>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" min="1" value="1">
            <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
            
        </div>
     </div>
    <div class="product-container">
        <div class="product-image">
          <a href="../../templates/modeProducts_acce/mode3.html">
            <img src="mode-accesoirIMG/3.jpg" alt="Product Name"></a>
        </div>
        <div class="product-details">
            <h1>T-shirt blanc- Aventure</h1><hr>
            <strong>$22 </strong>
            
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" min="1" value="1">
            <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
          
            
        </div>
     </div>
     <div class="product-container">
        <div class="product-image"> 
          <a href="../../templates/modeProducts_acce/mode4.html">
            <img src="mode-accesoirIMG/4.jpg" alt="Product Name"> </a>
        </div>
          <div class="product-details">
              <h1>T-shirt blanc-baleine </h1><hr>
              <strong>$20 </strong>
            
              <label for="quantity">Quantity:</label>
              <input type="number" id="quantity" min="1" value="1">
              <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
              
            
          </div>
       </div>
       <div class="product-container">
          <div class="product-image">
            <a href="../../templates/modeProducts_acce/mode5.html">
              <img src="mode-accesoirIMG/5.jpg" alt="Product Name"></a>
          </div>
          <div class="product-details">
              <h1>T-shirt brodé Mariage pour homme</h1><hr>
              <strong>$30 </strong>
              
              <label for="quantity">Quantity:</label>
              <input type="number" id="quantity" min="1" value="1">
              <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
          </div>
        </div>
      </div>
       

    <div class="container">
      <h2>Porte clé</h2>
      <div class="product-container">
        <div class="product-image">
          <a href="../../templates/modeProducts_acce/mode8.html">
            <img src="mode-accesoirIMG/8.png" alt="Product Name"></a>
        </div>
        <div class="product-details">
            <h1><br>gravé famille en inoxarbre de vie</h1><hr>
            <strong>$10 </strong>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" min="1" value="1">
            <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
        </div>
      </div>
      <div class="product-container">
        <div class="product-image">
          <a href="modeProducts/mode9.html">
            <img src="mode-accesoirIMG/9.jpg" alt="Product Name"></a>
        </div>
        <div class="product-details">
            <h1>médaille gravée bois arbre</h1><hr>
            <strong>$11 </strong>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" min="1" value="1">
            <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
            
        </div>
     </div>
     <div class="product-container">
        <div class="product-image">
          <a href="modeProducts/mode10.html">
            <img src="mode-accesoirIMG/10.png" alt="Product Name"></a>
        </div>
        <div class="product-details">
            <h1>Porte-clés Plaque <br>Gravé Photo</h1><hr>
            <strong>$15</strong>
            
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" min="1" value="1">
            <button onclick="add()" class="add-to-cart-button">Add to Cart</button>
          
            
        </div>
     </div>
   </div>
     
    <script src="../../static/js/Sproduct.js"></script>
      

  
   <footer>
    <section class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <h4>Info</h4>
          <ul class="links">
            <li><a href="#">À propos de nous</a></li>
            <li><a href="#">Compressions</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Collection</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Explorer</h4>
          <ul class="links">
            <li><a href="#">Nos tendances</a></li>
            <li><a href="#">Offrez un cadeau groupé</a></li>
            <li><a href="#">Themes</a></li>
            <li><a href="#">Nouveaux produits</a></li>
            <li><a href="#">De vrais conseils pour bien choisir</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul class="links">
            <li><a href="#">Accord client</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">RGPD</a></li>
            <li><a href="#">Sécurité</a></li>
            <li><a href="#">Témoignages</a></li>
            <li><a href="#">Kit média</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Bulletin d'information</h4>
          <p>
            Abonnez-vous à notre newsletter pour une dose hebdomadaire de nouvelles, de mises à jour, de conseils utiles et d'offres exclusives
          </p>
          <form action="#">
            <input type="text" placeholder="Your email" required>
            <button type="submit">SUBSCRIBE</button>
          </form>
          
  
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-snapchat"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        </div>
      </div>
    </section>>
  </footer>
</body>
<!-- Fin du pied de page -->

</html>