nav{
    display:block;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
    
    position: sticky;
    top: 0;
    font-weight: bold ;
    transition: color 0.3s;
    margin-inline-end: 10px ;
    z-index: 1000;
    padding-top: 0px;
    background-color: rgba(231, 154, 216, 0.8);
    
    
  }
  
a {
  text-decoration: none; /* Pour supprimer le soulignement des liens */
  color: #811818
}
  #ontop{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  #ontop img:hover {
  transform: scale(1.2); /* Augmente la taille de l'image de 20% lors du survol */
  transition: transform 0.3s; /* Ajoute une transition en douceur pour l'effet */
  }
  
  
  .right1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right1 form , .right1 p{
    padding: 20px;
  }
  /* Styles spécifiques pour .ontop */
  .ontop {
    color: white; /* Couleur du texte */
  }
  
  /* Styles spécifiques pour .onglets */
  #onglets {
     /* Couleur d'arrière-plan */
    padding: 10px; /* Ajoutez un peu d'espace autour du contenu */
    display:flex;
    justify-content: space-between;
    justify-items: center;
  }
  
  .link {
    margin-right: 20px; /* Espacement entre les liens */
    color: white; /* Couleur du texte des liens */
    cursor: pointer;
  }
  
  /* Ajoutez d'autres styles selon vos besoins */
  
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  
  .nav-item form {
    order: 2; /* Met le formulaire après le logo */
    margin-right: 0px; /* Ajoute un espacement entre le logo et le formulaire */
  }
  
  .nav-item p {
    order: 3; /* Met les icônes (far fa-heart et fas fa-shopping-cart) à droite */
  }
  
  nav #onglets {
  display: flex;
  flex-wrap: wrap;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  
  }
  nav #ontop p{
  font-size: 100 px;
  margin-right: 30px;
  cursor:pointer;
  color: #888585; /* Nouvelle couleur au survol */
  font-size: 20px; /* Nouvelle taille de police au survol (ajustez la taille à votre convenance) */
  transition: color 0.3s, font-size 0.3s;
  }
  nav #ontop p:hover {
  color: #ff0000; /* Nouvelle couleur au survol */
  font-size: 24px; /* Nouvelle taille de police au survol (ajustez la taille à votre convenance) */
  }
  
  
  
  
  
  
  nav #onglets p{
  font-size: 100 px;
  margin-right: 30px;
  cursor:pointer;
  color: #280956; /* Nouvelle couleur au survol */
  font-size: 20px; /* Nouvelle taille de police au survol (ajustez la taille à votre convenance) */
  transition: color 0.3s, font-size 0.3s;
  }
  nav #onglets p:hover {
  color: #ff0000; /* Nouvelle couleur au survol */
  font-size: 24px; /* Nouvelle taille de police au survol (ajustez la taille à votre convenance) */
  }
  
  nav .onglets input{
  margin:rgb(199, 191, 191)px;
  padding: 15px;
  border-radius: 20px;
  border:none;
  background-color: #F2F2F2;
  outline:none;
  }
  .nav-item {
  position: relative;
  }
  
  /* Ajoutez ces styles dans votre fichier style.css */
  /* Styles pour les options du sous-menu */
  
  .sub-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  decoration:none;
  list-style-type: none;
  }
  .sub-menu ul li a {
  
    text-decoration: none;
    
  
  
  }
  
  .sub-menu {
  display: none; /* Cache le sous-menu par défaut */
  position: absolute;
  background-color: #fff;
  top: 100%; /* Place le sous-menu en dessous de l'élément parent */
   /* Aligne le sous-menu à gauche de l'élément parent */
  z-index: 2; /* Assure que le sous-menu est au-dessus du contenu */
  
  }
  
  
  #opt1  {
    left: 20% ;  /* Exemple de modification de la couleur du texte en bleu */
  }
  
  #opt2  {
  left: 43.5% ;  /* Exemple de modification de la couleur du texte en bleu */
  }
  #opt3 {
  left: 63.5% ;  /* Exemple de modification de la couleur du texte en bleu */
  }
  #opt4  {
  left: 83.5% ;  /* Exemple de modification de la couleur du texte en bleu */
  }
  
  .nav-item .link:hover + .sub-menu {
  display: block; /* Affiche le sous-menu lorsque vous survolez l'élément parent */
  
  }
  
  .sub-menu li {
  cursor: pointer;
  padding: 10px;
  
  }
  
  .sub-menu li:hover {
  background-color: #f2f2f2;
  }
  
   
  
  .image-container img {
    width: 100%;
    max-width: 2000px;
  }
  
  /* Styles pour le texte "Sold Out" en mouvement */
  .moving-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: "Arial", sans-serif;
  font-size: 50px; /* Nouvelle taille de police au survol (ajustez la taille à votre convenance) */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  
  color: #ff3366;
    animation: moveText 20s linear infinite;
    z-index: 2; /* Pour superposer le texte sur l'image */
    overflow: hidden; 
    white-space: nowrap; 
  }
  
  @keyframes moveText {
    0% {
      left: 0; /* Démarre de l'extrémité gauche de la page */
    }
    100% {
      left: 100%; /* Termine à l'extrémité droite de la page */
    }
  }
    
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #10182F;
    border-radius: 6px;
    z-index: 2;
    margin-top:50px;
    margin-bottom: 0px;
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
    
  }
  .footer-col .icons i {
    color:#e2294b ;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  
  .product-container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 350px;
    margin-top: 20px;
  }
  
  
  .product-image {
    flex: 1;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .product-details p {
    color: #666;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  #quantity {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .add-to-cart-button {
    background: #e2294b;
    color: #fff;
    border-color: #e2294b;
    font-size: .875rem;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #b30003;
  }
  