.container {
  display: flex;
}

#word {
  font-size: 25px;
  color: #333;
  margin-left: 15px ;
  word-break: break-all;
  white-space: pre-wrap;
  margin-top: 10px;
}

.text h2 {
  margin-left: 350px;
  margin-top: 20px;
}


  

