<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projet site e-commerce B3EC</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />

  </head>
  <body>
    <!-- Barre de navigation -->
    <nav>
      <div class="nav-item" id ="ontop">
          <img src="../static/img/Icons/logo.png" alt="Image 1" width="100" height="100">
          <div class="right1">
              <form>
                  <input type="search" placeholder="Rechercher" >
              </form>
              
              <p><i class="far fa-heart"></i></p>
              <p><i class="fas fa-shopping-cart"></i></p>
          </div>
      </div>
      
      <div class="nav-item" id="onglets">
        <p class="link"><a href="index.html">Accueil</a></p>
            
        <p class="link"><a href="../templates/Other_Prodcuts/cadeaux_personalisés.html">Cadeaux_personalisés</a></p>
       
        <p class="link"><a href="../templates/Other_Prodcuts/Mode-acce.html">Mode et accessoires</a></p>
        
        <p class="link"><a href="../templates/Other_Prodcuts/chocolatetgourmandises.html">Chocolat et gourmandises</a></p>
        <p class="link"><a href='Recommendation_system'>Recommendation_system</a></p>
       
      </div>
      
    </nav>
    <!-- Fin de la barre de navigation -->
    <div class="image-container">
      <img src="..\static\img\Icons\cadeaux.png" alt="Image" width="100%">
      <div class="moving-text">
        Des cadeaux personnalisés pour des moments mémorables
    </div>
   
    

    <!-- example of a category list -->
    <div class="container">
      
      



   
      
      <div class="category-products" id="category-products-container">
        <h2>Pour lui</h2>
        <!-- Example products will be displayed here -->
        <div class="product-item">
          <a href="../templates/Other_Prodcuts/mug1.html"> <!-- Ajoutez un lien autour de l'image -->
            <img src="../static/img/productsimg/pour lui/mug1.png" alt="Product 1" width="20" height="170">
          </a>
          <h3>Mug</h3>
          <p>$25.99</p>
          
        </div>
        <div class="product-item">
          <a href="ceinture"> <!-- Ajoutez un lien autour de l'image -->
            <img src="../static/img/productsimg/pour lui/ceinture.png" alt="Product 1" width="20" height="170">
          </a>
          <h3>ceinture</h3>
          <p>$19.99</p>
         
        </div>
          <div class="product-item">
            <a href="table_de_pc.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="../static/img/productsimg/pour lui/table_de_pc.png" alt="Product 1" width="20" height="170">
            </a>
          <h3>Table_de_pc</h3>
          <p>$29.99</p>
          
        </div>
          <div class="product-item">
            <a href="tshirt.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="../static/img/productsimg/pour lui/tshirt.png" alt="Product 1" width="20" height="170">
            </a>
          <h3>Tshirt pour homme</h3>
          <p>$29.99</p>
          
        </div>
       
    
     
        <div class="category-products" id="category-products-container">
          <h2>Top vente</h2>
          <!-- Example products will be displayed here -->
          <div class="product-item">
            <a href="port_clé.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="../static/img/productsimg/pour lui/port_clé.png" alt="Product 1" width="20" height="170">
            </a>
            <h3>Port_clé</h3>
            <p>$25.99</p>
            
          </div>
          <div class="product-item">
            <a href="tshirt1.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="../static/img/productsimg/pour lui/tshirt.png" alt="Product 1" width="20" height="170">
            </a>
            <h3>Tshirt </h3>
            <p>$19.99</p>
           
          </div>
            <div class="product-item">
              <a href="bougie.html"> <!-- Ajoutez un lien autour de l'image -->
                <img src="../static/img/productsimg/pour elle/bougie.png" alt="Product 1" width="20" height="170">
              </a>
            <h3>Bougie</h3>
            <p>$29.99</p>
            
          </div>
            <div class="product-item">
              <a href="bracelet2.html"> <!-- Ajoutez un lien autour de l'image -->
                <img src="../static/img/productsimg/pour elle/bracelet2.png" alt="Product 1" width="20" height="170">
              </a>
            <h3>Bracelet</h3>
            <p>$29.99</p>
            
          </div>
       <br>
     
   
      
       <div class="category-products" id="category-products-container">
        <h2>Cadeaux personnalisés</h2>
        <!-- Example products will be displayed here -->
        <div class="product-item">
          <a href="mug2.html"> <!-- Ajoutez un lien autour de l'image -->
            <img src="..\static\img\productsimg\pour lui\mug2.png" alt="Product 1" width="20" height="170">
          </a>
          <h3>Mug</h3>
          <p>$25.99</p>
          
        </div>
        <div class="product-item">
          <a href="maccaron.html"> <!-- Ajoutez un lien autour de l'image -->
            <img src="..\static\img\productsimg\pour elle\maccaron.png" alt="Product 1" width="20" height="170">
          </a>
          <h3>Maccaron personnalisés</h3>
          <p>$19.99</p>
         
        </div>
          <div class="product-item">
            <a href="port_clé.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="..\static\img\productsimg\pour lui\port_clé.png" alt="Product 1" width="20" height="170">
            </a>
          <h3>port_clé</h3>
          <p>$29.99</p>
          
        </div>
          <div class="product-item">
            <a href="casquette.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="..\static\img\productsimg\pour elle\casquette.png" alt="Product 1" width="20" height="170">
            </a>
          <h3>casquette</h3>
          <p>$29.99</p>
          
        </div>
       
   

      
        <div class="category-products" id="category-products-container">
          <h2>Pour Elle</h2>
          <!-- Example products will be displayed here -->
          <div class="product-item">
            <a href="robe1.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="..\static\img\productsimg\pour elle\robe1.png" alt="Product 1" width="20" height="170">
            </a>
            <h3>Product 1</h3>
            <p>$25.99</p>
            
          </div>
          <div class="product-item">
            <a href="coffret.html"> <!-- Ajoutez un lien autour de l'image -->
              <img src="..\static\img\productsimg\pour elle\coffret.png" alt="Product 1" width="20" height="170">
            </a>
            <h3>Product 2</h3>
            <p>$19.99</p>
           
          </div>
            <div class="product-item">
              <a href="bracelet1.html"> <!-- Ajoutez un lien autour de l'image -->
                <img src="../static/img/productsimg/pour elle/bracelet1.png" alt="Product 1" width="20" height="170">
              </a>
            <h3>Product 3</h3>
            <p>$29.99</p>
            
          </div>
            <div class="product-item">
              <a href="rougealevre.html"> <!-- Ajoutez un lien autour de l'image -->
                <img src="../static/img/productsimg/pour elle/rougealevre.png" alt="Product 1" width="20" height="170">
              </a>
            <h3>Product 3</h3>
            <p>$29.99</p>
            
          </div>


        
          
          <div class="category-products" id="category-products-container">
            <h2>Promotions</h2>
            <!-- Example products will be displayed here -->
            <div class="product-item">
              <a href="chaussette-personalisé.html"> <!-- Ajoutez un lien autour de l'image -->
                <img src="../static/img/productsimg/pour lui/chaussette_personalisé.png" alt="Product 1" width="20" height="170">
              </a>
              <h3>chaussette_personalisé</h3>
              <p>$25.99</p>
              
            </div>
            <div class="product-item">
              <a href="tshirt1.html"> <!-- Ajoutez un lien autour de l'image -->
                <img src="../static/img/productsimg/pour elle/tshirt1.png" alt="Product 1" width="20" height="170">
              </a>
              <h3>Tshirt  </h3>
              <p>$19.99</p>
             
            </div>
              <div class="product-item">
                <a href="montre1.html"> <!-- Ajoutez un lien autour de l'image -->
                  <img src="../static/img/productsimg/pour elle/montre1.png" alt="Product 1" width="20" height="170">
                </a>">
              <h3>Montre</h3>
              <p>$29.99</p>
              
            </div>
              <div class="product-item">
                <a href="eau_micellaire.html"> <!-- Ajoutez un lien autour de l'image -->
                  <img src="../static/img/productsimg/pour elle/eau_micellaire.png" alt="Product 1" width="20" height="170">
                </a>
              <h3>eau_micellaire</h3>
              <p>$29.99</p>
              
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
       
 
  <section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Info</h4>
        <ul class="links">
          <li><a href="#">À propos de nous</a></li>
          <li><a href="#">Compressions</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Collection</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Explorer</h4>
        <ul class="links">
          <li><a href="#">Nos tendances</a></li>
          <li><a href="#">Offrez un cadeau groupé</a></li>
          <li><a href="#">Themes</a></li>
          <li><a href="#">Nouveaux produits</a></li>
          <li><a href="#">De vrais conseils pour bien choisir</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Legal</h4>
        <ul class="links">
          <li><a href="#">Accord client</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">RGPD</a></li>
          <li><a href="#">Sécurité</a></li>
          <li><a href="#">Témoignages</a></li>
          <li><a href="#">Kit média</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Bulletin d'information</h4>
        <p>
          Abonnez-vous à notre newsletter pour une dose hebdomadaire de nouvelles, de mises à jour, de conseils utiles et d'offres exclusives
        </p>
        <form action="#">
          <input type="text" placeholder="Your email" required>
          <button type="submit">SUBSCRIBE</button>
        </form>
        

        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-snapchat"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
      </div>
    </div>
  </section>> 
</body>
<!-- Fin du pied de page -->
</html>